.conteiner{
    width:100vw;
    height:40vh ;
    position:relative;
    background: #000;
   cursor: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Red_Circle%28small%29.svg/44px-Red_Circle%28small%29.svg.png) 23 23, auto;
}
.cursor{
 
   
}